---
http_interactions:
- request:
    method: get
    uri: https://books.googleapis.com/books/v1/volumes/06ym840l0u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 503,
            "message": "Service temporarily unavailable.",
            "errors": [
              {
                "message": "Service temporarily unavailable.",
                "domain": "global",
                "reason": "backendFailed"
              }
            ]
          }
        }
  recorded_at: Thu, 05 Aug 2021 06:34:48 GMT
recorded_with: VCR 6.0.0
